body{
    background-image: url(https://i.postimg.cc/RC1PQ7jt/gatitos-fondo.webp);
}
.text{
    text-align: center;
}
.fuente1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}